*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}
 body{
   height: 100vh;
 }

 header{
     height: 30%;
 }
.fullHeader{
    height: 100%;
    background-color:black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 80px;
    padding: 2%;
}

.firstNav{
    display: flex;
    padding-left: 9%;
}

.firstNav a{
    width:15%;
    height:8%;
    border: 5px solid black;
    padding: 1.5rem;
    text-align: center;
    background-color: white;
    color: black;
    font-size: 25px;
}

.midSection{
    height:20%;
    display: flex;
}

.midSection img{
    width: 50%;
    padding: 1%;
}

.midSection div{
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
  
}

.midSection h2{
    font-size: 50px;
}

.midSection a {
    text-align: center;
    height:15%;
    width: 30%;
    font-size: 20px;
    border: 4px solid black;
}

.midSection p{
    font-size: 30px;
    text-align: left;
}

.gallery{

    display: flex;
}